.transaction_history{
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 50px;
}

.column{
    width: 33%;
    background-color: aqua;
}

.info{
    text-align: center;
    text-transform: capitalize;
}

.row{
    height: 30px;
}
.row:nth-child(odd){
    background-color: #acb5ae;
}